<!--reserved for copypasting-->

<section class="carousel-section" id="...">
    <div class="header-container  text-start">

    </div>


    <div class="container-wrapper">
        <div class="carousel-container">
            <div class="slider-wrapper">


                <ul class="image-list">


                    <li class="image-item"></li>
                    
                    <li class="image-item"></li>

                </ul>

                <div class="carousel-button-container">
                    <button  id="prev-slide"  class="slide-button  material-symbols-rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                        </svg>
                    </button>
                    <button  id="next-slide"  class="slide-button  material-symbols-rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </button>
                </div>                    
            </div>
        </div>
    </div>
</section>