
/* --v--| footer |--v-- */
footer {
    background-color: #f2f2f2;
    padding: 22px 0;
}
  

.footer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 996px;
    margin: 0 auto;
    padding: 20px 15px 0px 15px;
    width: auto;
}




/* --v--|| Informative section ||--v-- */
.footer-container-border{
    border-bottom:  1px solid rgb(204,204,206);
}

.footer-info{
    list-style: none;
    display: block;
    padding-left: 0;
    width: 100%;
}


#footer-paragraph-format{
    color:rgb(117,117,118,0.8);
}

#inline-link{
    display:inline;
    text-decoration: underline;
}
/* --^--|| Informative section ||--^-- */




/* --v--|| 5 columns section ||--v-- */
.footer-container-box{
    flex-direction: column;
    align-items: space-between;
}



.footer-container-box-separator{
    margin-bottom: 15px;
}


  
.footer-column {
    width: 19%;
    margin-bottom: auto;
}
  


.footer-title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}



.footer-links {
    list-style: none;
    padding: 0;
    font-size: 12px;
}



.footer-links li {
    margin-bottom: 5px;
}



.footer-links a {
    color: rgb(117,117,118,0.9);
    text-decoration: none;
}
/* --^--|| 5 columns section ||--^-- */





/* --v--|| footer section ||--v-- */
.footer-copyright{
    display: block;
    justify-content: space-between;
    align-items: center;
}


.footer-upper-container{
    font-size: 12px;
    padding-bottom: 10px;
}


.footer-lower-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.footer-legal-links{
    display: inline-flex;
    font-size: 12px;
    list-style: none;
    gap:14px;
}


.footer-legal-link{
    border-right: 1px solid rgba(117,117,118,0.3);
    padding-inline-end: 16px;
    display: inline-block;
    white-space: nowrap;
}



.footer-legal-links a{
    color:rgb(117,117,118,0.8);
    font-weight: 100;
}


#rightmost{
    border-right: 0px;

}

#copyright-text-format{
    font-size: 12px;
    font-weight: 30;
    color:rgb(117,117,118,0.8)
}

#locale-text-format{
    font-size: 12px;
    font-weight: 10;
    color:rgb(117,117,118)
}


@mixin clearOutAccordion{
    --bs-accordion-bg: none !important;
    --bs-accordion-color: none !important;

    --bs-accordion-btn-focus-box-shadow: none !important;

    --bs-accordion-active-color: none !important;
    --bs-accordion-active-bg: none !important;

    --bs-accordion-border-color: none !important;
}

.accordion{
    @include clearOutAccordion;
    .accordion-button{
        padding: 0 !important;
    }
}


@media screen and (max-width: 760px){
    .footer-column-section{
        display: block;
    }
    .footer-column{
        width: 100%;
        padding: 0 0.75rem;
    }

    .footer-container-box-separator{
        margin-bottom: 0;
    }
    .footer-container-box{
        margin-bottom: 15px;
    }
    .footer-container-border .collapse{
        display: block;
    }
}

/* --^--|| footer section ||--^-- */
